{
     "apiKey": "MEATSPACEAPIKEY",
     "twitterApiKey": "TWITTERAPIKEY",
     "twitterSecret": "TWITTERSECRET",
     "twitterAccessToken": "TWITTERACCESSTOKENFORYOURDEVUSER",
     "twitterAccessSecret": "TWITTERACCESSSECRETFORYOURDEVSECRET",
     "callback": "CALLBACKFORTWITTERS",
     "address": "TARGETURL"
}